.main-layout {
    display: flex;
    height: calc(100vh - 120px); /* adapte à la taille de ton header/footer */
  }
  
.tags-panel {
    width: 20%;
    padding: 1rem;
    border-right: 1px solid #ccc;
    background-color: #f8f8f8;
}

.notes-panel {
    width: 80%;
    padding: 1rem;
}