
.gridNote{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.NoteList{
    padding: 10px;
    list-style: none;
    background-color: beige;
    cursor: pointer;
}

.noteBox{
    padding: 10px;
}

.linkedTags{
    list-style: none;
    justify-items:right;
}

.deleteNote{
  display: block;
  margin: 0 auto;
}

.title{
    width: 45%;
}

.content{
    width: 45%;
    height: 100px;
}

.editingFormElement{
    margin-top: 5px;
}