<ul class="gridNote">
    @for (note of notes; track $index) {
        <li (dblclick)="editerNote(note)" class="NoteList">
            <div [style.backgroundColor]="note.color" class="noteBox">
                <h3>{{ note.title }}</h3>
                @if (note.isList) {
                    <ul>
                        @for (line of note.content.split('\n'); track $index) {
                            <li>{{ line }}</li>
                        }
                    </ul>
                } 
                @else {
                    <p>{{ note.content }}</p>
                }
        
                @if (note.tags.length > 0) {
                    <ul class="linkedTags">
                        @for (tag of note.tags; track $index) {
                            <li [style.color]="tag.color">#{{ tag.name }}</li>
                        }
                    </ul>
                }
                <button (click)="supprimerNote(note.id)" class="deleteNote">Supprimer</button>
            </div>
        </li>
    } 
    @empty {
        <li>Aucune note !</li>
    }
</ul>
  
<a href="#" (click)="nouvelleNote(); $event.preventDefault()">Ajouter une note</a>
@if(editing) {
    <form (ngSubmit)="enregistrerNote()" #noteForm="ngForm">

        <div>
            <label>Titre :</label>
            <input type="text" [(ngModel)]="editing!.title" name="title" required />
        </div>

        <div>
            <label>Contenu : </label>
            <textarea [(ngModel)]="editing!.content" name="content" required></textarea>
        </div>

        <div>
            <label>
                <input type ="checkbox" [(ngModel)]="editing!.isList" name ="isList" />
                Afficher la note comme une liste
            </label>
        </div>

        <div>
            <label>
                <input type="color" [(ngModel)]="editing!.color" name="color" required />
                Choix de la couleur de fond
            </label>
        </div>

        <div>
            <input type="text" placeholder="Nom du nouveau tag" [(ngModel)]="newTagName" name="newTag" />
            <button type="button" (click)="ajouterTag()">+ Ajouter une étiquette</button>
        </div>

        <div>
            <button type="submit">Enregistrer</button>
            <button type="button" (click)="annulerEdition()">Annuler</button>
        </div>
        
    </form>
}